* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: auto;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    background-color: #1a1a1a;
    color: white;
}

#myCheckBox {
    position: absolute;
    left: 5%;
}


.statusContainer {
    display: flex;
    width: 90%;
    height: 90%;
    gap: 50px;
    margin: 100px;
}

.small {
    background-color: transparent;
    border: 0px;
}

.statusContainer>div {
    flex: 1;
    border-radius: 10px;
    background-color: black;
    gap: 50px;
    position: relative;
}

.openModal {
    position: absolute;
    right: 5%;
    top: 2%;
    background-color: #00a300;
    border-radius: 5px;
}

.statusContainer>div>div>div {
    padding: 10px 40px;
    width: 90%;
    margin: auto;
    height: fit-content;
    border-radius: 10px;
    background-color: #1a1a1a;
    position: relative;
}

.tt {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.headerContainer {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
}

.card>button {
    font-size: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px);
}

form {
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 30px;
    position: relative;
    color: white;
    background-color: #1a1a1a;
    border-radius: 15px;
    border: 2px solid lightgray;
}

form>div {
    display: flex;
    flex-direction: column;
}

.child {
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    color: white;
}

.create {
    width: 100%;
    border-radius: 5px;
}

.counter {
    position: absolute;
    right: 7%;
    top: 3.5%;
    font-size: 24px;
    font-weight: bold;
}


.esc {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
}


button {
    width: fit-content;
    padding: 15px 40px;
    background-color: white;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}


.active {
    visibility: visible;
}

.esc {
    position: absolute;
    right: 0;
    top: 0;
}

h2 {

    word-wrap: break-word;
    /* Handles long words */
    overflow-wrap: break-word;
    /* Handles long words and word breaks */
    white-space: normal;
    /* Allows text to wrap onto multiple lines */
}