* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    background-color: #1a1a1a;
    color: white;
}


.statusContainer {
    display: flex;
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0;
    gap: 50px;
}

.statusContainer>div {
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    align-items: center;
}

.openModal {
    position: absolute;
    right: 0;
    top: 2%;
    background-color: #00a300;
    border-radius: 5px;
}

.statusContainer>div>div>div {
    padding: 10px 45px;
    width: 100%;
    height: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #101010;
    background-color: blue;
}

.card {
    position: relative;
}

.card>button {
    font-size: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(16px);

}

form {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 2px solid orange;
    align-items: center;
    position: relative;
    color: black;
}

input {
    width: 50%;
}

button {
    width: fit-content;
    padding: 15px 40px;
    background-color: white;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
}


.active {
    visibility: visible;
}

.esc {
    position: absolute;
    right: 0;
    top: 0;
}