.container {
  background-color: purple;
  font-size: 36px;
  width: 400px;
  border-radius: 20px;
  width: 30%;
  color: white;
  text-align: center;
}

.open {
  transform: translateX(-320px);
  z-index: 10;
  position: fixed;
  color: black;
}
