.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    color: white;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
}

.dots {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}