* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 1000px;
    width: 100vw;
}

.button {
    padding: 10px 20px;
    width: fit-content;
    background-color: aqua;
    border-radius: 5px;
    height: fit-content;
}

.box {
    height: 500px;
    width: 300px;
    border: 2px solid green;
    position: relative;
    overflow-x: scroll;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s ease-in-out;
}

.box>img:nth-child(2) {
    right: -100%;

}

.box>img:nth-child(3) {
    right: -200%;

}

.box>img:nth-child(4) {
    right: -300%;

}

.asd {
    transform: translateX(-300px);
}
.box::-webkit-scrollbar{
    display: none;
}