.container {
    background: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}

.box {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

.container>:last-child {
    display: flex;
    gap: 50px;
}